/* This is the style for the main Header*/

.main-header{
    width: 1286px;
    height: 80px;
    border-radius: 20px;
    background-color: #1E1f25;
    margin-top:26px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin-left: 128px;
    margin-right:26px ;
    /* margin-\bottom: 794px; */
    position: absolute;
    width: 1286px;
    height: 80px;
    left: 10px;
    top: 10px;

}

/* Part 1 (first half) of the main-header */
.main-header-1{
    width: 371.1px;
    height: 29px;
    /* border: 1px solid white; */
    display: flex;
    margin-left: 20px;
}
/* Company logo inside main-header*/
#logo{
    width: 88px;
    height: 29px;
    text-decoration: none;
    margin-right:20px;    
}
#logo h1{
    font-family: 'Inter', sans-serif; 
    font-weight: 500; 
    font-size: 24px;
    text-align: left;
    vertical-align: top;
    color: #ffffff;  
}
/* ........................*/
/* Vertical line between the logo and next img/button element*/
.line-break{
    width:2px;
    height: 23px;
    border-radius: 21px;
    background-color: #282c38;
    margin-right: 22px;
    /* border: 1px solid white; */
    
}
/* ..........................*/
/* Team */
.team-name{
    width: 90;
    height: 17px;
    /* top: 3.5px; */
    /* left: 34px; */
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    line-height: 16.94px;
    color: #ffffff;
    vertical-align:baseline;
    margin-right: 10px;
}

.folder-icon{
    margin-right:12px;
}
#folder{
    width: 57px;
    height: 17px;
    font-weight: 400;
    font-size: 14px;
    font-family: inherit;
    letter-spacing: 4%;
    font-style: normal;
    line-height:17px;
    vertical-align: top;
    color: #3C4254;
    /* margin-right: 22px; */
}
.down-triangle{
    width: 0;
    height: 0;
    /* background-color: #1E1f25; */
    border-top: 6px solid transparent;
    border-left: 8px solid #3C4254;
    border-bottom: 6px solid transparent;
    transform: rotate(90deg);

}

/* .............................*/

/*Part 2 or the second half of the main header */
.main-header-2{
    width: 508px;
    height: 40px;
    top:20px;
    left: 715.41px;
    gap: 20px;
    display: flex;
}

.premium-btn{
    display: flex;
    align-items: center;
    width: 96px;
    height:24px;
    top: 8px;
    left: 412px;
    border-radius: 5px;
    padding: 4px, 8px, 4px, 4px;
    gap: 8px;
    border: 0.5px solid #3C4254;
    background-color: gray;

}
.premium-btn span{
    width: 60px;
    height: 15px;
    top:4.5px;
    left:28px;
    line-height: 14.52px;
    letter-spacing: 4%;
    font-style: bold;
    font-size: 12px;
    color: #ffb545;
}