#panel{
    width: 76px;
    height: 848px;
    border-radius: 20px;
    position: absolute;
    left: 2%;
    right: 0%;
    top: 4%;
    bottom: 0%;
    background-color:#1E1F25 ;
}
/*  LOGO DASHCUBE*/
#dashcube-logo{
    height: 23.03px;
    width: 21px;
    border-radius: 0px;
    flex: none;
    order: 0;
    flex-grow: 0;
    position: absolute;
    width: 21px;
    height: 23.03px;
    left: 25px;
    top: 25px;
   
}
/* LINE 44 */
.line44{
    width:76px;
    border: 1px solid rgba(40, 44, 56, 1) ;
    position: absolute;
    height: 0px;
    left: 0px;
    top: 76px;
    

}
/* CONTROLS BUTTONS SECTION 1*/
.group-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 300px;
    position: absolute;
    left: 30%;
    top: 10%;
}
.dashboard, #project-task, #calendar-view, #documents, #store-cart, #figma-icon, #slack-icon, #jira-icon{
    width:20px;
    height: 20px;
}

#single-cube-dashboard{
    position: absolute;
    top: 26px;
    left: 11px;
}

/* CONTROLS BUTTONS SECTION 2*/
.group-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 200px;
    position: absolute;
    left: 30%;
    top: 50%;

}
/* CONTROLS BUTTONS SECTION 3*/
.group-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100px;
    position: absolute;
    left: 36%;
    top: 75%;

}
/* BUTTON LOG OUT*/
#log-out{
    height: 20px;
    width: 20px;
}

#panel-footer{
    height: 82px;
    width: 76px;
    left: 0px;
    top: 766px;
    border-radius: 0px 0px 20px 20px;
    background-color: #282C38;
    position: absolute;


}
#ellipse48{
    width: 42px;
    height:42px;
    position: absolute;
    left: 16px;
    top: 20px;
}