#panel{
    width: 76px;
    height: 848px;
    border-radius: 20px;
    position: absolute;
    left: 2%;
    right: 0%;
    top: 4%;
    bottom: 0%;
    background-color:#1E1F25 ;
}
#dashcube-logo{
    height: 23.03px;
    width: 21px;
    border-radius: 0px;
    flex: none;
    order: 0;
    flex-grow: 0;
    position: absolute;
    width: 21px;
    height: 23.03px;
    left: 25px;
    top: 25px;
   
}
.line44{
    width:76px;
    border: 1px solid rgba(40, 44, 56, 1) ;
    position: absolute;
    height: 0px;
    left: 0px;
    top: 76px;
    /* margin-top: 26.97px; */

}

.dashboard{
    width: 20px;
    height:20px;
    display: flex;
    align-self: center;
    flex-direction: column;
    /* justify-content: space-around; */
    position: absolute;
    left: 8.33%;
    right: 8.33%;
    top: 8.33%;
    bottom: 8.33%;
    margin-left: auto;
    margin-right: 25px;
    margin-top:32px ;
}
.cube{
    height: 8.5344877243042px;
    width: 8.463014602661133px;
    border-radius: 0px;
    background-color: #757B8C;
    border-radius: 25%;
    margin: 1px;
    
}
.dash-top, .dash-bottom{
    display: flex;
}
.dash-top :nth-child(2){
    opacity: 40%;
}
.projects{
    height: 18px;
    width: 18px;
    left: 2px;
    top: 4px;
    border-radius: 0px;
    position: absolute;
    left:33%;
    /* right: 17%; */
    top: 18%;
    bottom: 8.33%;
    /* color: rgba(36, 108, 249, 1); */

}
.ellipse{
    height: 5px;
    width: 5px;
    left: 17px;
    top: 2px;
    border-radius: 0px;
    position: absolute;
    left: 70.83%;
    right: 8.33%;
    top: 8.33%;
    bottom: 70.83%;
    background: #757B8C;
    mix-blend-mode: normal;
    opacity: 0.4;
}
.calendar-icon{
    height: 20px;
    width: 18px;
    left: 3px;
    top: 2px;
    border-radius: 0px;
    position: absolute;
    left: 33%;
    top: 23%;
}
.folder-icon{
    
}